
body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f0f0f0;
}

video {
    width: 800px;  
    height: 600px; 
    border: 5px solid #333;
    border-radius: 10px;
    background-color: black; 
}

button {
    width: 100px;  
    height: 50px; 
    margin-top: 50px;
    padding: 10px 20px;
    cursor: pointer;
}